doctype html
html(lang="en")
	head
	
		meta(charset="utf-8")
		title Elliott Andrew
		
		//link(rel="stylesheet", href="/assets/css/normalize.css")
		link(rel="stylesheet", href="/main.css")
		
		script(src="assets/js/jquery-2.2.4.js")
		script(src="assets/js/jquery.jscrollpane.min.js")
		script(src="assets/js/jquery.mousewheel.js")
		
		script(src="https://use.typekit.net/nra8lfo.js")
		script try{Typekit.load({ async: true });}catch(e){}
		
		script(src="assets/js/ganalytics.js")

	header
	
		.ppage-top
				h1 
					a(href="/index.html") The Peer Gallery
					.p1 2015 | Scarborough | University of Sheffield
				a(href="index.html", class="backbutton")
		hr
		
		//.ppage-title
			h2 The Peer Gallery
			p2 2015 | Scarborough | University of Sheffield

	body

		.container
		
			.lef
				.content
					h4 Project Brief
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus in enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
					br
					img(src="/assets/imgs/walkway_1000.png", class="ppage-img2")
					img(src="/assets/imgs/p1accom_600.png", class="ppage-img")
					img(src="/assets/imgs/p1persp_600.png", class="ppage-img")
					
			//.rig
				.content
					img(src="/assets/imgs/proj_y2p2_600.jpg", class="ppage-img")
					img(src="/assets/imgs/diagrams_600.jpg", class="ppage-img")
					img(src="/assets/imgs/routes_600.png", class="ppage-img")
				
		script(src="assets/js/myscripts.js")
		
	footer
		hr
		.nav
			a(href="index.html") home
			a(href="index.html") contact
			a(href="index.html") about